# Node.js 관련
node_modules/
npm-debug.log
package-lock.json

# VS Code 관련
.vscode/

# OS별 불필요한 파일
.DS_Store  # macOS
Thumbs.db  # Windows

# 로그 및 빌드 파일
*.log
dist/
build/


# 특정 파일 확장자 무시
*.log
*.txt
*.xlsx
*.docx
*.pptx
*.jpg
*.png
*.gif
*.html

# VS Code 관련 파일 무시
.vscode/

# OS별 불필요한 파일
.DS_Store  # macOS
Thumbs.db  # Windows

# 특정 폴더 무시
node_modules/
dist/
build/
