# VS Code 관련 파일
.vscode/
*.code-workspace

# OS 관련 파일
.DS_Store
Thumbs.db

# 로그 및 캐시
*.log
node_modules/
*.tmp

# 특정 파일 제외
$$tezsb.*
https__download*


# Node.js 관련 파일
node_modules/

# OS 관련 파일
*.log
.DS_Store
Thumbs.db


# OneDrive 관련 파일
OneDrive/
*.LOG
*.ini

# Eclipse, npm, 기타 임시 파일들
eclipse/
magic-conch-dong/
npm-cache/

