/* 화면 전체 배경 */
.intro-container {
  width: 100vw;
  height: 100vh;
  background-image: url("./img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center;     /* 세로 중앙 */
}

/* 버튼 세로 정렬 */
.button-wrapper {
  margin-top: 500px;
  display: flex;
  flex-direction: column; /* 세로 방향 정렬 */
  gap: 10px;              /* 버튼 사이 간격 */
  align-items: center;    /* 가로 중앙 정렬 */
}

/* 버튼 스타일 */
.photo-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.photo-btn img {
  width: 300px;  /* 이미지 크기 */
  height: auto;
}
