.container {
  background: #f8fafc;
  min-height: 100vh;

  /* 중앙 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background: white;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 420px;

  text-align: center;
}

/* 인풋 */
.input {
  width: 95%;
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

/* 버튼 */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  background: transparent;
  margin-top: 20px;
  cursor: pointer;
}

.button img {
  width: 100%;
  max-width: 220px; /* 버튼 크기 조정 */
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

/* hover */
.button:hover img {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6); /* 안쪽 그림자 */
  transition: box-shadow 0.3s ease; /* 부드럽게 변하게 */
  border-radius: 55px; /* 모서리 부드럽게 (선택사항) */
}

/* 이미지 미리보기 */
.imgPreview {
  width: 100%;
  margin-top: 10px;
  border-radius: 12px;
  display: block;
}
